section.banner {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: white;
}

section.banner h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
}

section.banner p {
    margin-bottom: 20px;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    section.banner {
        margin-top: 0px;
    }
}
